<?php
/*
 * --- TimThumb CONFIGURATION ---
 * To edit the configs it is best to create a file called timthumb-config.php
 * and define variables you want to customize in there. It will automatically be
 * loaded by timthumb. This will save you having to re-edit these variables
 * everytime you download a new version
*/

// Please refer to the defaultConfig() method of the CONF class

return [
    // 'memoryLimit'   => '30M',
    // 'maxFileSize'   => 15728640,
    // 'maxWidth'      => 1024,
    // 'maxHeight'     => 768,
    // 'allowExternal' => false,
    // 'allowedSites'  => ['img.youtube.com','tinypic.com'],
    // 'fileCache' => [
    //     'maxFileAge' => 60*60*24,
    //     'directory'  => './cache',
    // ],
    // 'default' => [
    //     'q'      => 83,
    //     'width'  => 300,
    //     'height' => 300,
    // ],
    // etc...
];
