<?php
/*
 * --- TimThumb CONFIGURATION ---
 * To edit the configs it is best to create a file called timthumb-config.php
 * and define variables you want to customize in there. It will automatically be
 * loaded by timthumb. This will save you having to re-edit these variables
 * everytime you download a new version
*/

// Please refer to the defaultConfig() method of the CONF class

return [
    // 'debugOn'                => false,
    // 'debugLevel'             => 1,
    // 'memoryLimit'            => '100M',
    // etc...
];
